@include animation-zoom-in-out;

.container {
  height: 100vh;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    180deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 0.6) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 90%;
  animation-name: zoom-in-out;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.buttonWithIcon {
  display: flex;
  gap: 8px;
  align-items: center;
  img {
    height: 20px;
  }
}
