.container {
  padding: 9.5px 39px 11.5px;
  color: var(--on-primary);
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.3) inset;

  &.fab {
    padding: 14px;
    font-size: 24px;
    border-radius: 16px;
  }

  &.disabled {
    pointer-events: none;
  }
}
.primary {
  border: 2px solid var(--on-button-primary);
  background-color: var(--button-primary);
  &:hover {
    background-color: var(--hover-button-primary);
  }
  &:active {
    border: 2px solid var(--on-button-primary);
    background-color: var(--hover-button-primary);
    box-shadow: none;
    padding-bottom: 9.5px;
    margin-top: 2px;
  }
  &.disabled {
    border: 2px solid var(--outline);
    background-color: var(--outline);
  }
}
.choice {
  border: 2px solid var(--on-button-primary);
  background-color: var(--button-primary);
  &:hover {
    background-color: var(--hover-button-primary);
  }
  &:active {
    border: 2px solid var(--on-button-primary);
    background-color: var(--hover-button-primary);
    box-shadow: none;
    padding-bottom: 9.5px;
    margin-top: 2px;
  }
  &.disabled {
    border: 2px solid var(--outline);
    background-color: var(--outline);
  }
}
.danger {
  border: 2px solid var(--on-button-primary);
  background-color: var(--error);
  &:hover {
    background-color: var(--error);
  }
  &:active {
    border: 2px solid var(--on-button-primary);
    box-shadow: none;
    padding-bottom: 9.5px;
  }
  &.disabled {
    border: 2px solid var(--outline);
    background-color: var(--outline);
  }
}
.outline {
  border: 2px solid var(--primary);
  background-color: var(--transparent);
  color: var(--primary);
  &:hover {
    color: var(--on-primary);
    background-color: var(--primary);
  }
  &.disabled {
    opacity: 0.4;
  }
}
.transparent {
  border: 2px solid var(--transparent);
  background-color: var(--transparent);
  color: var(--primary);
  &:hover {
    border: 2px solid var(--primary-container);
    background-color: var(--primary-container);
  }
  &.disabled {
    color: var(--outline);
  }
}
