.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--transparent-black);
  justify-content: center;
  align-items: center;
  display: none;
}

.wrapper {
  background-color: var(--background);
  border-radius: 20px;
  padding: 28px;
  position: relative;
  width: calc(100% - 40px);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.4),
    0px -6px 0px 0px rgba(0, 0, 0, 0.3) inset;
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 8px;
}

.header {
  margin-bottom: 16px;
  padding-right: 8px;
}

.body {
  margin-bottom: 32px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.modalEnter {
  opacity: 0;
  transform: scale(0.1);
}
.modalEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modalExit {
  opacity: 1;
  transform: scale(1);
}
.modalExitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 300ms, transform 300ms;
}
