@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import './assets/styles/colors';
@import './assets/fontawesome/css/all.min.css';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--on-background);
  background-color: var(--secondary-container);
  max-width: 1440px;
  transition: background-color 0.2s, color 0.2s;

  .simplebar-track.simplebar-vertical {
    width: 8px;
  }
  .simplebar-scrollbar:before {
    left: 0px;
    right: 4px;
    background: var(--secondary);
  }
}

input,
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

span {
  font-size: 14px;
  line-height: normal;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 20px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.modal-show {
  overflow: hidden;
  padding-right: 17px;
}
