$primary-light: #2955cc;
$on-primary-light: #ffffff;
$hover-primary-light: #2954cce5;
$primary-container-light: #dae1ff;
$on-primary-container-light: #001552;
$secondary-light: #625b71;
$on-secondary-light: #ffffff;
$secondary-container-light: #e8def8;
$on-secondary-container-light: #1d192b;
$tertiary-light: #994059;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #ffd9e1;
$on-tertiary-container-light: #400017;
$error-light: #b3261e;
$on-error-light: #ffffff;
$error-container-light: #f9dedc;
$on-error-container-light: #410e0b;
$outline-light: #79747e;
$background-light: #fffbfe;
$on-background-light: #1c1b1f;
$surface-light: #fffbfe;
$on-surface-light: #1c1b1f;
$surface-variant-light: #e7e0ec;
$on-surface-variant-light: #49454f;
$inverse-surface-light: #313033;
$inverse-on-surface-light: #f4eff4;
// dark
$primary-dark: #b4c4ff;
$on-primary-dark: #002781;
$hover-primary-dark: #b4c4ffad;
$primary-container-dark: #003ab3;
$on-primary-container-dark: #dae1ff;
$secondary-dark: #ccc2dc;
$on-secondary-dark: #332d41;
$secondary-container-dark: #4a4458;
$on-secondary-container-dark: #e8def8;
$tertiary-dark: #ffb1c3;
$on-tertiary-dark: #5e112c;
$tertiary-container-dark: #7c2942;
$on-tertiary-container-dark: #ffd9e1;
$error-dark: #f2b8b5;
$on-error-dark: #601410;
$error-container-dark: #8c1d18;
$on-error-container-dark: #f9dedc;
$outline-dark: #938f99;
$background-dark: #1c1b1f;
$on-background-dark: #e6e1e5;
$surface-dark: #1c1b1f;
$on-surface-dark: #e6e1e5;
$surface-variant-dark: #49454f;
$on-surface-variant-dark: #cac4d0;
$inverse-surface-dark: #e6e1e5;
$inverse-on-surface-dark: #1c1b1f;

$transparent: #ffffff00;
$transparent-black: rgba(0, 0, 0, 0.3);

:root {
  --primary: #{$primary-light};
  --on-primary: #{$on-primary-light};
  --hover-primary: #{$hover-primary-light};
  --primary-container: #{$primary-container-light};
  --on-primary-container: #{$on-primary-container-light};
  --secondary: #{$secondary-light};
  --on-secondary: #{$on-secondary-light};
  --secondary-container: #{$secondary-container-light};
  --on-secondary-container: #{$on-secondary-container-light};
  --tertiary: #{$tertiary-light};
  --on-tertiary: #{$on-tertiary-light};
  --tertiary-container: #{$tertiary-container-light};
  --on-tertiary-container: #{$on-tertiary-container-light};
  --error: #{$error-light};
  --on-error: #{$on-error-light};
  --error-container: #{$error-container-light};
  --on-error-container: #{$on-error-container-light};
  --outline: #{$outline-light};
  --background: #{$background-light};
  --on-background: #{$on-background-light};
  --surface: #{$surface-light};
  --on-surface: #{$on-surface-light};
  --surface-variant: #{$surface-variant-light};
  --on-surface-variant: #{$on-surface-variant-light};
  --inverse-surface: #{$inverse-surface-light};
  --inverse-on-surface: #{$inverse-on-surface-light};
  --transparent: #{$transparent};
  --transparent-black: #{$transparent-black};

}
.dark {
  --primary: #{$primary-dark};
  --on-primary: #{$on-primary-dark};
  --hover-primary: #{$hover-primary-dark};
  --primary-container: #{$primary-container-dark};
  --on-primary-container: #{$on-primary-container-dark};
  --secondary: #{$secondary-dark};
  --on-secondary: #{$on-secondary-dark};
  --secondary-container: #{$secondary-container-dark};
  --on-secondary-container: #{$on-secondary-container-dark};
  --tertiary: #{$tertiary-dark};
  --on-tertiary: #{$on-tertiary-dark};
  --tertiary-container: #{$tertiary-container-dark};
  --on-tertiary-container: #{$on-tertiary-container-dark};
  --error: #{$error-dark};
  --on-error: #{$on-error-dark};
  --error-container: #{$error-container-dark};
  --on-error-container: #{$on-error-container-dark};
  --outline: #{$outline-dark};
  --background: #{$background-dark};
  --on-background: #{$on-background-dark};
  --surface: #{$surface-dark};
  --on-surface: #{$on-surface-dark};
  --surface-variant: #{$surface-variant-dark};
  --on-surface-variant: #{$on-surface-variant-dark};
  --inverse-surface: #{$inverse-surface-dark};
  --inverse-on-surface: #{$inverse-on-surface-dark};
  --transparent: #{$transparent};
  --transparent-black: #{$transparent-black};
}
