:global {
  .selectButton,
  .selectDropdown {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: flex-end;

  & > *:first-child {
    flex-grow: 1;
  }
}

.shuffleButton {
  padding-left: 12px;
  padding-right: 12px;
}

.buttonWrapper {
  display: flex;
  margin-top: 18px;
  gap: 10px;
}
